# Salary Prediction

- Everyone would like to get a good salary on the job, but what factors affect your salary?

# Load the Dataset

In [ ]:
import pandas as pd
error_msg = '''# need to download https://www.kaggle.com/datasets/lailaicoding/salary-data-for-predict-salary-1 first
# alternatively, go to https://www.kaggle.com/code/carsoncheng/predict-salary-1-solution'''
df = None
try:
    global df
    df = pd.read_csv("/kaggle/input/salary-data-for-predict-salary-1/salary_cleaned.csv")
except:
    print(error_msg)

# need to download https://www.kaggle.com/datasets/lailaicoding/salary-data-for-predict-salary-1 first
# alternatively, go to https://www.kaggle.com/code/carsoncheng/predict-salary-1-solution

# Take a look at the first few rows

In [9]:
len(df) # 373 data points

373

In [10]:
df.head()

,Age,Years of Experience,Education Level_encoded,Gender_encoded,Salary
0,44.0,15.0,2,0,150000.0
1,44.0,14.0,0,1,130000.0
2,33.0,7.0,1,1,85000.0
3,29.0,2.0,0,0,40000.0
4,31.0,3.0,0,1,55000.0

# What are the inputs and the targets?

- The input columns are Age, Years of Experience, Education Level_encoded, and Gender_encoded (4 input columns total)
- The target column is Salary (1 column total)
- This is a (regression) task (remove the incorrect option)

# Split data into train, validation, and test

- the train_test_split function is very important here
- X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=your_test_size, random_state=your_random_seed)

In [11]:
from sklearn.model_selection import train_test_split
y = df[['Salary']]
X = df.drop(columns=['Salary']) # drop the salary from the inputs as the salary is the label itself
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)
print(len(X_train), len(X_val), len(X_test))

238 60 75

# How many percent of data is in train, validation, and test?

- Theoretically, 64% of data is in train, 16% is in val, and 20% of data is in test in this setup (fill in the blanks)

# Model construction and training

- Let's try linear regression first!

In [12]:
from sklearn.linear_model import LinearRegression # import a model constructor
from sklearn.metrics import mean_squared_error, mean_absolute_error # metrics
### model definition and training
reg = LinearRegression() # define the model using the constructor
reg.fit(X_train, y_train) # fit the model
### model evaluation
train_preds = reg.predict(X_train) # evaluate the model
val_preds = reg.predict(X_val) # evaluate the model
print(f"Training MSE: {mean_squared_error(y_train, train_preds)}")
print(f"Training MAE: {mean_absolute_error(y_train, train_preds)}")
print(f"Validation MSE: {mean_squared_error(y_val, val_preds)}")
print(f"Validation MAE: {mean_absolute_error(y_val, val_preds)}")

Training MSE: 243069846.7271459
Training MAE: 11511.742980298734
Validation MSE: 250509695.6554161
Validation MAE: 10588.466685823401

In [13]:
reg.coef_ # the coefficients used in the linear regression

array([[ 2515.03369409,  3397.66133888, 11781.12370571,  6501.56540856]])

- On average it was off by 11000 when the average salary in the dataset was over 100000, which is actually a decent prediction!

# Your task: try to use a decision tree

In [14]:
from sklearn.tree import DecisionTreeRegressor
### model definition and training

reg = DecisionTreeRegressor() ## YOUR CODE HERE

reg.fit(X_train, y_train) # fit the model
### model evaluation
train_preds = reg.predict(X_train) # evaluate the model
val_preds = reg.predict(X_val) # evaluate the model
print(f"Training MSE: {mean_squared_error(y_train, train_preds)}")
print(f"Training MAE: {mean_absolute_error(y_train, train_preds)}")
print(f"Validation MSE: {mean_squared_error(y_val, val_preds)}")
print(f"Validation MAE: {mean_absolute_error(y_val, val_preds)}")

Training MSE: 49571078.43137255
Training MAE: 3084.733893557423
Validation MSE: 466935763.88888896
Validation MAE: 12881.944444444443

# Visualize Feature Importances

The code cell below should print out an array of 4 elements
The 4 elements correspond to the 4 features, in this case age, years of experience, education level, and gender, respectively.

In [15]:
reg.feature_importances_

array([0.07037687, 0.88161332, 0.03056212, 0.01744769])

# Write your observations here

- The validation MSE is (higher) than the training MSE (remove the incorrect option)
- The validation MAE is (higher) than the training MAE (remove the incorrect option)
- Both metrics indicate that the model is (overfitting) (remove the incorrect option)
- The most important feature in the dataset according to the decision tree is Years of Experience.

In [17]:
from sklearn.ensemble import RandomForestRegressor
### model definition and training

reg = RandomForestRegressor() ## YOUR CODE HERE

reg.fit(X_train, y_train) # fit the model
### model evaluation
train_preds = reg.predict(X_train) # evaluate the model
val_preds = reg.predict(X_val) # evaluate the model
print(f"Training MSE: {mean_squared_error(y_train, train_preds)}")
print(f"Training MAE: {mean_absolute_error(y_train, train_preds)}")
print(f"Validation MSE: {mean_squared_error(y_val, val_preds)}")
print(f"Validation MAE: {mean_absolute_error(y_val, val_preds)}")

Training MSE: 79018200.56373426
Training MAE: 5558.196255775037
Validation MSE: 325998031.4153564
Validation MAE: 10864.321278258778

/tmp/ipykernel_36/3678089748.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  reg.fit(X_train, y_train) # fit the model

In [18]:
reg.feature_importances_

array([0.28269169, 0.67392995, 0.0323697 , 0.01100866])